@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Playwrite+NL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Akaya+Telivigala&family=Playwrite+NL:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

body {
    font-family: "Roboto", sans-serif;
}


nav {
    background-color: #df1732;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

nav h1 {
    font-family: "Aclonica", sans-serif;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;

}

.links ul{
    display: flex;
}

.links ul li {
    list-style: none;
    margin-right: 25px;
}

.links ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}

.links ul li a:hover{
    color: black;
    transition: .4s;
}

#home {
    padding: 50px;
    margin-top: 50px;
    display: flex;
}

.introduction h1 {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;

}
.introduction {
    flex: 2;
}

.introduction h1 span {
    color: #df1732;
}

.image {
    flex: 1;
    padding-top: 20px;
}

.button-group {
    margin-top: 50px
    
}

.button-group a {
    border-radius: 50px;
    display: inline-block;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #df1732;
    padding: 10px;
    margin: 10px;
    margin-bottom: 40px;
    transition: .4s;
}

.button-group a:hover {
    transform: scale(1.2);
}
#about-me {
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(235, 235, 235);

}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-me_discription {
    width: 550px;
}

.about-me_discription h2 {
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.about-me_discription h5{
    font-size: 25px;
    color: #df1732;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.about-me_discription p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
}
button{
    background-color: #df1732;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin: 10px;
}
button:hover{
    background-color: transparent;
    border: 2px solid #df1732;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
